{% extends "eshop/base.html" %}
{% load i18n %}
{% block base_content %}
    <div id="eshop_content">

        <div id="eshop_content_left">
            {% block category %}
				
            {% endblock %}

            {% block login %}
             {% load loginFilter %}
 			 {{ user|loginFilter }}
            {% endblock %}

            {% block banner %}

            {% endblock %}
        </div>

        <div id="eshop_content_right">
            {% block content %}

            {% endblock %}
        </div>
        
        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
{% endblock %}