body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size: 11px;
	color: #ffffff;
	background: #4b4743;
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/buy_button.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.buy_button{
	clear: both;
	cursor:pointer;
	border: none;
    padding: 4px 8px 8px 8px;
    display: block;
    width: 100px;
    text-align: center;
	background: url(../images/buy_button.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/detail_button.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#eshop_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: #1c1c1b url(../images/container_bg.jpg) repeat-y;
}

/* header */
#eshop_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url(../images/header_bg.jpg) no-repeat;
}

#eshop_header a,a:hover {
	color: #ffffff;
}

/* end of header */


/* content */
#eshop_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#eshop_content #eshop_content_left {
	float: left;
	width: 188px;
	padding: 10px;
	background-color: #171716;
	border: 1px solid #212120;
}

#eshop_content #eshop_content_right {
	float: right;
	width: 670px;
}


#eshop_content_left .eshop_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.eshop_content_left_section h1 {
	font-size: 14px;
	color: #cbc750;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.eshop_content_left_section ul {
	padding: 0;
	margin: 0;
}

.eshop_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.eshop_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #969547;
}

.eshop_content_left_section li a:hover, .eshop_content_left_section li .current{
	color: #fcf88e;
}

#eshop_content_right .eshop_product_box {
	float: left;
	width: 303px;
	height: 210px;
	padding: 10px;
	border: 1px solid #333;
}

#eshop_content_right h1 {
	padding: 10px;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: #cbc750;
	background: url(../images/h1_bg.jpg);
}

#eshop_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	font-size: 12px;
	color: #e6e154;
}

#eshop_content_right h3 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 18px;
	color: #85391f;
}

#eshop_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#eshop_content_right li {
	padding: 0 0 3px 0;
}

#eshop_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

#eshop_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.eshop_product_box h1 span {
	font-weight: normal;
}

.eshop_product_box img {
	float: left;
    width: 100px;
    height: 100px;
	margin-right: 20px;
}

.eshop_product_box .product_info {
	float: left;
	width: 180px;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#eshop_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#eshop_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */